{% extends 'common/base.sho' %}
<!--{% load static %}-->
{% block content %}

    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="{% url 'home'%}">Home</a>
                    </li>
                    <li>Categories</li>
                </ul>
            </div>

            <div class="col-md-3">
                <!-- *** MENUS AND FILTERS ***
    _________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Categories</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked category-menu">
                            <li>
                                <a href="category.html">Men <span class="badge pull-right">42</span></a>
                                <ul>
                                    <li><a href="#">T-shirts</a>
                                    </li>
                                    <li><a href="#">Shirts</a>
                                    </li>
                                    <li><a href="#">Pants</a>
                                    </li>
                                    <li><a href="#">Accessories</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="category.html">Ladies  <span class="badge pull-right">123</span></a>
                                <ul>
                                    <li><a href="#">T-shirts</a>
                                    </li>
                                    <li><a href="#">Skirts</a>
                                    </li>
                                    <li><a href="#">Pants</a>
                                    </li>
                                    <li><a href="#">Accessories</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="category.html">Kids  <span class="badge pull-right">11</span></a>
                                <ul>
                                    <li><a href="#">T-shirts</a>
                                    </li>
                                    <li><a href="#">Skirts</a>
                                    </li>
                                    <li><a href="#">Pants</a>
                                    </li>
                                    <li><a href="#">Accessories</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>

                    </div>
                </div>

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
                    </div>

                    <div class="panel-body">

                        <form>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Armani (10)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Versace (12)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Carlo Bruni (15)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Jack Honey (14)
                                    </label>
                                </div>
                            </div>

                            <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                        </form>

                    </div>
                </div>

            </div>

            <div class="col-md-9">
                <div class="box">
                    <h2 class="gap">Featured Listings</h2>
                    <p class="title">Products regarding this category ar give below</p>
                </div>

                <div class="recommended_items1">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            Showing <strong>12</strong> of <strong>25</strong> products
                        </div>

                        <div class="col-sm-12 col-md-8  products-number-sort">
                            <div class="row">
                                <form class="form-inline">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="products-number">
                                            <strong>Show</strong>  <a href="#" class="btn btn-default btn-sm btn-primary">12</a>  <a href="#" class="btn btn-default btn-sm">24</a>  <a href="#" class="btn btn-default btn-sm">All</a> products
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 pull-right">
                                        <div class="products-sort-by">
                                            <strong>Sort by</strong>
                                            <select name="sort-by" class="form-control">
                                                <option>Price</option>
                                                <option>Name</option>
                                                <option>Sales first</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row products">
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo">
                                    <img class="util-valign-inner" alt="Replacement LCD Screen" src="{% static 'common/images/prosl1.jpg' %}">
									<span class="info f-tag-wrap">
										<a target="_self" href="#" class="f-tag" data-spm-anchor-id="a2700.7848340.1998824406.4">
                                            Supplier's Choice
                                            <i></i>
                                        </a>
									</span>
                                    <h3><a target="_self" title="" href="#">Replacement LCD Screen</a></h3>
                                    <p>
                                        <a target="_self" href="#" class="details" >
                                            <div class="detail-item" title="Compatible Brand: Apple IPhone">Compatible Brand: Apple IPhone</div>
                                            <div class="detail-item" title="Compatible Brand: Motorola">Compatible Brand: Motorola</div>
                                        </a>
                                        <a class="item-page" href="#" target="_self" >965 items<i class="ui2-icon ui2-icon-arrow-right ui2-action-gap"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo">
                                    <img class="util-valign-inner" alt="Replacement LCD Screen" src="{% static 'common/images/prosl2.jpg' %}">
									<span class="info f-tag-wrap">
										<a target="_self" href="#" class="f-tag" data-spm-anchor-id="a2700.7848340.1998824406.4">
                                            Supplier's Choice
                                            <i></i>
                                        </a>
									</span>
                                    <h3><a target="_self" title="" href="#">Replacement LCD Screen</a></h3>
                                    <p>
                                        <a target="_self" href="#" class="details" >
                                            <div class="detail-item" title="Compatible Brand: Apple IPhone">Compatible Brand: Apple IPhone</div>
                                            <div class="detail-item" title="Compatible Brand: Motorola">Compatible Brand: Motorola</div>
                                        </a>
                                        <a class="item-page" href="#" target="_self" >965 items<i class="ui2-icon ui2-icon-arrow-right ui2-action-gap"></i></a>

                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo">
                                    <img class="util-valign-inner" alt="Replacement LCD Screen" src="{% static 'common/images/prosl3.jpg' %}">
									<span class="info f-tag-wrap">
										<a target="_self" href="#" class="f-tag" data-spm-anchor-id="a2700.7848340.1998824406.4">
                                            Supplier's Choice
                                            <i></i>
                                        </a>
									</span>
                                    <h3><a target="_self" title="" href="#">Replacement LCD Screen</a></h3>
                                    <p>
                                        <a target="_self" href="#" class="details" >
                                            <div class="detail-item" title="Compatible Brand: Apple IPhone">Compatible Brand: Apple IPhone</div>
                                            <div class="detail-item" title="Compatible Brand: Motorola">Compatible Brand: Motorola</div>
                                        </a>
                                        <a class="item-page" href="#" target="_self" >965 items<i class="ui2-icon ui2-icon-arrow-right ui2-action-gap"></i></a>

                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo">
                                    <img class="util-valign-inner" alt="Replacement LCD Screen" src="{% static 'common/images/prosl4.jpg' %}">
									<span class="info f-tag-wrap">
										<a target="_self" href="#" class="f-tag" data-spm-anchor-id="a2700.7848340.1998824406.4">
                                            Supplier's Choice
                                            <i></i>
                                        </a>
									</span>
                                    <h3><a target="_self" title="" href="#">Replacement LCD Screen</a></h3>
                                    <p>
                                        <a target="_self" href="#" class="details" >
                                            <div class="detail-item" title="Compatible Brand: Apple IPhone">Compatible Brand: Apple IPhone</div>
                                            <div class="detail-item" title="Compatible Brand: Motorola">Compatible Brand: Motorola</div>
                                        </a>
                                        <a class="item-page" href="#" target="_self" >965 items<i class="ui2-icon ui2-icon-arrow-right ui2-action-gap"></i></a>

                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo">
                                    <img class="util-valign-inner" alt="Replacement LCD Screen" src="{% static 'common/images/prosl5.jpg' %}">
									<span class="info f-tag-wrap">
										<a target="_self" href="#" class="f-tag" data-spm-anchor-id="a2700.7848340.1998824406.4">
                                            Supplier's Choice
                                            <i></i>
                                        </a>
									</span>
                                    <h3><a target="_self" title="" href="#">Replacement LCD Screen</a></h3>
                                    <p>
                                        <a target="_self" href="#" class="details" >
                                            <div class="detail-item" title="Compatible Brand: Apple IPhone">Compatible Brand: Apple IPhone</div>
                                            <div class="detail-item" title="Compatible Brand: Motorola">Compatible Brand: Motorola</div>
                                        </a>
                                        <a class="item-page" href="#" target="_self" >965 items<i class="ui2-icon ui2-icon-arrow-right ui2-action-gap"></i></a>

                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo">
                                    <img class="util-valign-inner" alt="Replacement LCD Screen" src="{% static 'common/images/prosl6.jpg' %}">
									<span class="info f-tag-wrap">
										<a target="_self" href="#" class="f-tag" data-spm-anchor-id="a2700.7848340.1998824406.4">
                                            Supplier's Choice
                                            <i></i>
                                        </a>
									</span>
                                    <h3><a target="_self" title="" href="#">Replacement LCD Screen</a></h3>
                                    <p>
                                        <a target="_self" href="#" class="details" >
                                            <div class="detail-item" title="Compatible Brand: Apple IPhone">Compatible Brand: Apple IPhone</div>
                                            <div class="detail-item" title="Compatible Brand: Motorola">Compatible Brand: Motorola</div>
                                        </a>
                                        <a class="item-page" href="#" target="_self" >965 items<i class="ui2-icon ui2-icon-arrow-right ui2-action-gap"></i></a>

                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo">
                                    <img class="util-valign-inner" alt="Replacement LCD Screen" src="{% static 'common/images/prosl1.jpg' %}">
									<span class="info f-tag-wrap">
										<a target="_self" href="#" class="f-tag" data-spm-anchor-id="a2700.7848340.1998824406.4">
                                            Supplier's Choice
                                            <i></i>
                                        </a>
									</span>
                                    <h3><a target="_self" title="" href="#">Replacement LCD Screen</a></h3>
                                    <p>
                                        <a target="_self" href="#" class="details" >
                                            <div class="detail-item" title="Compatible Brand: Apple IPhone">Compatible Brand: Apple IPhone</div>
                                            <div class="detail-item" title="Compatible Brand: Motorola">Compatible Brand: Motorola</div>
                                        </a>
                                        <a class="item-page" href="#" target="_self" >965 items<i class="ui2-icon ui2-icon-arrow-right ui2-action-gap"></i></a>

                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo">
                                    <img class="util-valign-inner" alt="Replacement LCD Screen" src="{% static 'common/images/prosl7.jpg' %}">
									<span class="info f-tag-wrap">
										<a target="_self" href="#" class="f-tag" data-spm-anchor-id="a2700.7848340.1998824406.4">
                                            Supplier's Choice
                                            <i></i>
                                        </a>
									</span>
                                    <h3><a target="_self" title="" href="#">Replacement LCD Screen</a></h3>
                                    <p>
                                        <a target="_self" href="#" class="details" >
                                            <div class="detail-item" title="Compatible Brand: Apple IPhone">Compatible Brand: Apple IPhone</div>
                                            <div class="detail-item" title="Compatible Brand: Motorola">Compatible Brand: Motorola</div>
                                        </a>
                                        <a class="item-page" href="#" target="_self" >965 items<i class="ui2-icon ui2-icon-arrow-right ui2-action-gap"></i></a>

                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo">
                                    <img class="util-valign-inner" alt="Replacement LCD Screen" src="{% static 'common/images/prosl8.png' %}">
									<span class="info f-tag-wrap">
										<a target="_self" href="#" class="f-tag" data-spm-anchor-id="a2700.7848340.1998824406.4">
                                            Supplier's Choice
                                            <i></i>
                                        </a>
									</span>
                                    <h3><a target="_self" title="" href="#">Replacement LCD Screen</a></h3>
                                    <p>
                                        <a target="_self" href="#" class="details" >
                                            <div class="detail-item" title="Compatible Brand: Apple IPhone">Compatible Brand: Apple IPhone</div>
                                            <div class="detail-item" title="Compatible Brand: Motorola">Compatible Brand: Motorola</div>
                                        </a>
                                        <a class="item-page" href="#" target="_self" >965 items<i class="ui2-icon ui2-icon-arrow-right ui2-action-gap"></i></a>

                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- /.col-md-4 -->
                </div>
                <!-- /.products -->

                <div class="pages">

                    <p class="loadMore">
                        <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a>
                    </p>

                    <ul class="pagination">
                        <li><a href="#">&laquo;</a>
                        </li>
                        <li class="active"><a href="#">1</a>
                        </li>
                        <li><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                        <li><a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>


            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->


{% endblock %}