{% extends 'common/base.sho' %}
<!--{% load static %}-->
{% block content %}

    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="{% url 'home'%}">Home</a>
                    </li>
                    <li>Categories</li>
                </ul>
            </div>

            <div class="col-md-3">
                <!-- *** MENUS AND FILTERS ***
    _________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Categories</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked category-menu">
                            {% for category in all_categories %}
                                <li>
                                    <a href="/categories/{{ category.id }}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="box">
                    <h2 class="gap">{{ this_category.name }}</h2>
                    <p class="title">Products regarding this category ar give below</p>
                </div>

                <div class="row products">
                    {% for item in items_in_this_category %}
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo">
                                    <img class="util-valign-inner" alt="Replacement LCD Screen" src="{% static 'common/images/prosl1.jpg' %}">
									<span class="info f-tag-wrap">
										<a target="_self" href="#" class="f-tag" data-spm-anchor-id="a2700.7848340.1998824406.4">
                                            Supplier's Choice
                                            <i></i>
                                        </a>
									</span>
                                    <h3><a target="_self" title="" href="#">Replacement LCD Screen</a></h3>
                                    <p>
                                        <a target="_self" href="#" class="details" >
                                            <div class="detail-item" title="Compatible Brand: Apple IPhone">Compatible Brand: Apple IPhone</div>
                                            <div class="detail-item" title="Compatible Brand: Motorola">Compatible Brand: Motorola</div>
                                        </a>
                                        <a class="item-page" href="#" target="_self" >965 items<i class="ui2-icon ui2-icon-arrow-right ui2-action-gap"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.products -->

            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->


{% endblock %}