{% extends 'common/base.sho' %}
<!--{% load static %}-->
{% block content %}

    <div id="content">
        <div class="container">

            <div class="col-md-8 col-md-offset-2">
                <ul class="breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>Change Password</li>
                </ul>

                <form method="post" action="/">{% csrf_token %}
                    <h1 class="gap">Password Change</h1>
                    <div class="col-md-12">
                        <div class="row">
                            <hr>
                            <div class="form-group">
                                <label class="control-label" for="name">New Password</label>
                                <input type="password" class="form-control" id="newPass" name="newPass" placeholder="Enter your new Password here">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="name">Confirm Password</label>
                                <input type="password" class="form-control" id="confPass" name="confPass" placeholder="Confirm your new password">
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}