{% extends 'common/base.sho' %}
<!--{% load static %}-->
{% block content %}

    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li>Product</li>
                </ul>

            </div>

            <div class="col-md-3">
                <!-- *** MENUS AND FILTERS ***
    _________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Overview</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked category-menu">
                            <li>
                                Type
                                <ul>
                                    <li><a href="/types/{{ this_product.type.id }}">{{ this_product.type.name }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Category
                                <ul>
                                    <li><a href="/categories/{{ this_product.category.id }}">{{ this_product.category.name }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Brand
                                <ul>
                                    <li><a href="/brands/{{ this_product.brand.id }}">{{ this_product.brand.name }}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">

                <div class="row" id="productMain">
                    <div class="col-sm-6">
                        <div id="mainImage">
                            <img src="/media/{{ this_product.image1 }}" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="box">
                            <h1 class="text-center">{{ this_product.name }}</h1>
                            <p class="goToDescription"><a href="#details" class="scroll-to">View Details</a>
                            </p>
                        </div>

                        <div class="row" id="thumbs" class="image-pop">
                            <div class="col-xs-3">
                                <a href="/media/{{ this_product.image2 }}" class="thumb">
                                    <img src="/media/{{ this_product.image2 }}" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-3">
                                <a href="/media/{{ this_product.image3 }}" class="thumb">
                                    <img src="/media/{{ this_product.image3 }}" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-3">
                                <a href="/media/{{ this_product.image4 }}" class="thumb">
                                    <img src="/media/{{ this_product.image4 }}" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-3">
                                <a href="/media/{{ this_product.image5 }}" class="thumb">
                                    <img src="/media/{{ this_product.image5 }}" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>

                        <div class="box" id="details">
                            <p>
                            <h2 class="gap">Product details</h2>
                            <p>{{ this_product.description }}</p>
                        </div>
                    </div>
                    <br/>
                    <hr>
                    <br/>
                    <!-- post  -->


                    <div id="comment-form" data-animate="fadeInUp">
                        <h4>Review</h4>
                        <form method="post" action="/submitreview/{{ this_product.id }}/">{% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="star">
                                        <p>
                                            Rating:
                                              <span class="starRating">
                                                <input id="rating5" type="radio" name="rating" value="5">
                                                <label for="rating5">5</label>
                                                <input id="rating4" type="radio" name="rating" value="4">
                                                <label for="rating4">4</label>
                                                <input id="rating3" type="radio" name="rating" value="3" checked>
                                                <label for="rating3">3</label>
                                                <input id="rating2" type="radio" name="rating" value="2">
                                                <label for="rating2">2</label>
                                                <input id="rating1" type="radio" name="rating" value="1">
                                                <label for="rating1">1</label>
                                              </span>
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Review here <span class="required">*</span>
                                        </label>
                                        <textarea class="form-control" id="comment" name="comment" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-primary"><i class="fa fa-comment-o"></i> Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <hr>
                    <div id="comments" data-animate="fadeInUp">
                        <h4>Latest Reviews</h4>
                        {% for review in review_of_this_product %}
                            <div class="row comment">
                                <div class="col-sm-12 col-md-12">
                                    <h5>{{ review.subscriber.name }}</h5>
                                    <p class="posted"><i class="fa fa-clock-o"></i>{{ review.dateAdded }}</p>
                                    <p><span class="starRating">
                                    <input type="radio" name="rating" value="5" {% if review.rating == 5 %} checked {% endif %}>
                                    <label>5</label>
                                    <input type="radio" name="rating" value="4" {% if review.rating == 4 %} checked {% endif %}>
                                    <label>4</label>
                                    <input type="radio" name="rating" value="3" {% if review.rating == 3 %} checked {% endif %}>
                                    <label>3</label>
                                    <input type="radio" name="rating" value="2" {% if review.rating == 2 %} checked {% endif %}>
                                    <label>2</label>
                                    <input type="radio" name="rating" value="1" {% if review.rating == 1 %} checked {% endif %}>
                                    <label>1</label>
                                  </span></p>
                                    <p>{{ review.review }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

            <section class="bg">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="recommended_items"><!--recommended_items-->
                            <h2 class="title">Suggested Products</h2>
                            <div id="recommended-item-carousel3" class="carousel slide" data-interval="false" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper m-ws-buy">
                                                <div class="single-products">
                                                    <div class="productinfo">
                                                        <div class="item">
                                                            <div class="iwrap">
                                                                <a title="Upgraded U8 Smart Watch" target="_self" href="" class="ia">
                                                                    <div class="item-market profit f-sp-flag-profit">
                                                                        <div class="item-market-value">302%</div>
                                                                    </div>

                                                                    <img class="ipic" alt="Upgraded U8 Smart Watch" src="{% static 'common/images/ltoimg1.jpg' %}" >
                                                                </a>
                                                            </div>
                                                            <div class="info">
                                                                <div class="title">
                                                                    <a target="_self" title="Upgraded U8 Smart Watch" href="#">
                                                                        Upgraded U8 Smart Watch
                                                                    </a>
                                                                </div>
                                                                <a target="_self" href="#" class="price">
                                                                    <div class="line">
                                                                        <span class="discounted-price">US $7.20</span>/ Piece
                                                                    </div>
                                                                    <div class="line">Rec.retail price: US $29.00</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper m-ws-buy">
                                                <div class="single-products">
                                                    <div class="productinfo">
                                                        <div class="item">
                                                            <div class="iwrap">
                                                                <a title="Upgraded U8 Smart Watch" target="_self" href="" class="ia">
                                                                    <div class="item-market profit f-sp-flag-profit">
                                                                        <div class="item-market-value">302%</div>
                                                                    </div>
                                                                    <img class="ipic" alt="Upgraded U8 Smart Watch" src="{% static 'common/images/ltoimg2.jpg' %}" >
                                                                </a>
                                                            </div>
                                                            <div class="info">
                                                                <div class="title">
                                                                    <a target="_self" title="Upgraded U8 Smart Watch" href="#">
                                                                        Upgraded U8 Smart Watch
                                                                    </a>
                                                                </div>
                                                                <a target="_self" href="#" class="price">
                                                                    <div class="line">
                                                                        <span class="discounted-price">US $7.20</span>/ Piece
                                                                    </div>
                                                                    <div class="line">Rec.retail price: US $29.00</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper m-ws-buy">
                                                <div class="single-products">
                                                    <div class="productinfo">
                                                        <div class="item">
                                                            <div class="iwrap">
                                                                <a title="Upgraded U8 Smart Watch" target="_self" href="" class="ia">
                                                                    <div class="item-market profit f-sp-flag-profit">
                                                                        <div class="item-market-value">302%</div>
                                                                    </div>
                                                                    <img class="ipic" alt="Upgraded U8 Smart Watch" src="{% static 'common/images/ltoimg3.jpg' %}" >
                                                                </a>
                                                            </div>
                                                            <div class="info">
                                                                <div class="title">
                                                                    <a target="_self" title="Upgraded U8 Smart Watch" href="#">
                                                                        Upgraded U8 Smart Watch
                                                                    </a>
                                                                </div>
                                                                <a target="_self" href="#" class="price">
                                                                    <div class="line">
                                                                        <span class="discounted-price">US $7.20</span>/ Piece
                                                                    </div>
                                                                    <div class="line">Rec.retail price: US $29.00</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper m-ws-buy">
                                                <div class="single-products">
                                                    <div class="productinfo">
                                                        <div class="item">
                                                            <div class="iwrap">
                                                                <a title="Upgraded U8 Smart Watch" target="_self" href="" class="ia">
                                                                    <div class="item-market profit f-sp-flag-profit">
                                                                        <div class="item-market-value">302%</div>
                                                                    </div>
                                                                    <img class="ipic" alt="Upgraded U8 Smart Watch" src="{% static 'common/images/ltoimg4.jpg' %}" >
                                                                </a>
                                                            </div>
                                                            <div class="info">
                                                                <div class="title">
                                                                    <a target="_self" title="Upgraded U8 Smart Watch" href="#">
                                                                        Upgraded U8 Smart Watch
                                                                    </a>
                                                                </div>
                                                                <a target="_self" href="#" class="price">
                                                                    <div class="line">
                                                                        <span class="discounted-price">US $7.20</span>/ Piece
                                                                    </div>
                                                                    <div class="line">Rec.retail price: US $29.00</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper m-ws-buy">
                                                <div class="single-products">
                                                    <div class="productinfo">
                                                        <div class="itemjr">
                                                            <div class="iwrap">
                                                                <a title="Upgraded U8 Smart Watch" target="_self" href="" class="ia">
                                                                    <div class="item-market profit f-sp-flag-profit">
                                                                        <div class="item-market-value">302%</div>
                                                                    </div>
                                                                    <img class="ipic" alt="Upgraded U8 Smart Watch" src="{% static 'common/images/ltoimg5.jpg' %}" >
                                                                </a>
                                                            </div>
                                                            <div class="info">
                                                                <div class="title">
                                                                    <a target="_self" title="Upgraded U8 Smart Watch" href="#">
                                                                        Upgraded U8 Smart Watch
                                                                    </a>
                                                                </div>
                                                                <a target="_self" href="#" class="price">
                                                                    <div class="line">
                                                                        <span class="discounted-price">US $7.20</span>/ Piece
                                                                    </div>
                                                                    <div class="line">Rec.retail price: US $29.00</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper m-ws-buy">
                                                <div class="single-products">
                                                    <div class="productinfo">
                                                        <div class="itemjr">
                                                            <div class="iwrap">
                                                                <a title="Upgraded U8 Smart Watch" target="_self" href="" class="ia">
                                                                    <div class="item-market profit f-sp-flag-profit">
                                                                        <div class="item-market-value">302%</div>
                                                                    </div>
                                                                    <img class="ipic" alt="Upgraded U8 Smart Watch" src="{% static 'common/images/ltoimg6.jpg' %}" >
                                                                </a>
                                                            </div>
                                                            <div class="info">
                                                                <div class="title">
                                                                    <a target="_self" title="Upgraded U8 Smart Watch" href="#">
                                                                        Upgraded U8 Smart Watch
                                                                    </a>
                                                                </div>
                                                                <a target="_self" href="#" class="price">
                                                                    <div class="line">
                                                                        <span class="discounted-price">US $7.20</span>/ Piece
                                                                    </div>
                                                                    <div class="line">Rec.retail price: US $29.00</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper m-ws-buy">
                                                <div class="single-products">
                                                    <div class="productinfo">
                                                        <div class="itemjr">
                                                            <div class="iwrap">
                                                                <a title="Upgraded U8 Smart Watch" target="_self" href="" class="ia">
                                                                    <div class="item-market profit f-sp-flag-profit">
                                                                        <div class="item-market-value">302%</div>
                                                                    </div>
                                                                    <img class="ipic" alt="Upgraded U8 Smart Watch" src="{% static 'common/images/ltoimg7.jpg' %}" >
                                                                </a>
                                                            </div>
                                                            <div class="info">
                                                                <div class="title">
                                                                    <a target="_self" title="Upgraded U8 Smart Watch" href="#">
                                                                        Upgraded U8 Smart Watch
                                                                    </a>
                                                                </div>
                                                                <a target="_self" href="#" class="price">
                                                                    <div class="line">
                                                                        <span class="discounted-price">US $7.20</span>/ Piece
                                                                    </div>
                                                                    <div class="line">Rec.retail price: US $29.00</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper m-ws-buy">
                                                <div class="single-products">
                                                    <div class="productinfo">
                                                        <div class="itemjr">
                                                            <div class="iwrap">
                                                                <a title="Upgraded U8 Smart Watch" target="_self" href="" class="ia">
                                                                    <div class="item-market profit f-sp-flag-profit">
                                                                        <div class="item-market-value">302%</div>
                                                                    </div>
                                                                    <img class="ipic" alt="Upgraded U8 Smart Watch" src="{% static 'common/images/ltoimg8.jpg' %}" >
                                                                </a>
                                                            </div>
                                                            <div class="info">
                                                                <div class="title">
                                                                    <a target="_self" title="Upgraded U8 Smart Watch" href="#">
                                                                        Upgraded U8 Smart Watch
                                                                    </a>
                                                                </div>
                                                                <a target="_self" href="#" class="price">
                                                                    <div class="line">
                                                                        <span class="discounted-price">US $7.20</span>/ Piece
                                                                    </div>
                                                                    <div class="line">Rec.retail price: US $29.00</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="left recommended-item-control" href="#recommended-item-carousel3" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="right recommended-item-control" href="#recommended-item-carousel3" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div><!--/recommended_items-->
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /#content -->

    <script>
        $('.image-pop').magnificPopup({
            delegate: 'a',
            type: 'image'
        });
    </script>


{% endblock %}