{% extends 'common/base.sho' %}
<!--{% load static %}-->
{% block content %}

    <div id="content">
        <div class="container">

            <div class="col-md-8 col-md-offset-2">
                <ul class="breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>Profile</li>
                </ul>

                <div class="col-md-12">
                <div class="box" id="contact">
                    <h1>Profile</h1>
                    <hr>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td class="active">Name</td>
                            <td class="active">{{ userObject.name }}</td>
                        </tr>
                        <tr>
                            <td class="success">Email Address</td>
                            <td class="success">{{ userObject.email }}</td>
                        </tr>
                        <tr>
                            <td class="active">Number of Posts</td>
                            <td class="active">{{ number_of_posts }}</td>
                        </tr>
                        <tr>
                            <td class="success">Number of reviews</td>
                            <td class="success">{{ userObject.numberOfReviews }}</td>
                        </tr>
                        <tr>
                            <td class="active">Joined</td>
                            <td class="active">{{ userObject.dateAdded }}</td>
                        </tr>
                        <tr>
                            <td class="success">Secret Question</td>
                            <td class="success">{{ userObject.secretQuestion }}</td>
                        </tr>
                        <tr>
                            <td class="active">Answer of Secret Question</td>
                            <td class="active">{{ userObject.secretAnswer }}</td>
                        </tr>
                        <tr>
                            <td class="success">Password</td>
                            <td class="success"><a href="/changepass"><button class="btn btn-info btn-xs">Change Password</button> </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
{% endblock %}