{% extends 'common/base.sho' %}
<!--{% load static %}-->
{% block content %}

    <div id="content">
        <div class="container">

            <div class="col-md-8 col-md-offset-2">
                <ul class="breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>Terms & Condition</li>
                </ul>

                <div class="col-md-12">
                <div class="box" id="contact">
                    <h1>Terms & Condition</h1>
                    <hr>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <p>{{ settings.termsAndCondition }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

{% endblock %}