{% extends 'common/base.sho' %}
<!--{% load static %}-->
{% block content %}

    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="{% url 'home'%}">Home</a>
                    </li>
                    <li>Types</li>
                </ul>
            </div>

            <div class="col-md-3">
                <!-- *** MENUS AND FILTERS ***
    _________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Types</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked category-menu">
                            {% for category in all_categories %}
                                <li>
                                    <a href="/types/{{ category.id }}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="box">
                    <h2 class="gap">{{ this_category.name }}</h2>
                    <p class="title">Products regarding this type are given below</p>
                </div>

                <div class="row products">
                    {% for item in items_in_this_category %}
                        <div class="col-sm-3">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo">
                                        <img class="util-valign-inner" alt="Replacement LCD Screen" src="/media/{{ item.image1 }}">
									<span class="info f-tag-wrap">
										{% if item.isFeatured %}
                                            <a target="_self" href="#" class="f-tag" data-spm-anchor-id="a2700.7848340.1998824406.4">
                                                Featured Listing
                                                <i></i>
                                            </a>
                                        {% endif %}
									</span>
                                        <h3><a target="_self" title="" href="/product/{{ item.id }}">{{ item.name }}</a></h3>
                                        <p>
                                        <div class="detail-item" title="Rating: {{ item.totalNumberOfStars }} Star">Rating : <span class="starRating">
                                    <input id="rating5" type="radio" name="rating" value="5" {% if item.totalNumberOfStars == 5 %} checked {% endif %}>
                                    <label for="rating5">5</label>
                                    <input id="rating4" type="radio" name="rating" value="4" {% if item.totalNumberOfStars == 4 %} checked {% endif %}>
                                    <label for="rating4">4</label>
                                    <input id="rating3" type="radio" name="rating" value="3" {% if item.totalNumberOfStars == 3 %} checked {% endif %}>
                                    <label for="rating3">3</label>
                                    <input id="rating2" type="radio" name="rating" value="2" {% if item.totalNumberOfStars == 2 %} checked {% endif %}>
                                    <label for="rating2">2</label>
                                    <input id="rating1" type="radio" name="rating" value="1" {% if item.totalNumberOfStars == 1 %} checked {% endif %}>
                                    <label for="rating1">1</label>
                                  </span></div>
                                        <div class="detail-item" title="Compatible Brand: Motorola">Uploaded By: {{ item.addedBy.name }}</div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- /.col-md-4 -->
                </div>

                <!-- /.products -->

            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->


{% endblock %}